<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>All the Listings</title>
</head>
<body>
    <h1>Marketplace Listings</h1>

    <ul>
        <% foundListings.forEach((listings) => { %>
            <li>
                <a href="/listing/<%= listings._id %>"><h2><%= listings.title %></h2></a>
                <p><%= listings.description %></p>
                <p><strong><%= listings.price %> BHD</strong></p>
                <img src="<%= listings.image %>" class="listing-img" alt="Image of <%= listings.title %>" />
            </li>
        <% }) %>
    </ul>
</body>
</html>