<%- include('../partials/header') %>

<div class="container mt-4">
  <h1 class="text-center mb-4">Marketplace Listings</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% foundListings.forEach((listing) => { %>
      <div class="col">
        <div class="card h-100">
          <img src="<%= listings.image %>" class="card-img-top" alt="Image of <%= listings.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= listings.title %></h5>
            <p class="card-text"><%= listings.description %></p>
            <p class="card-text"><strong><%= listings.price %> BHD</strong></p>
            <a href="/listing/<%= listings._id %>" class="btn btn-primary">View Listing</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

    <%- include('../partials/footer')%>
