<%- include('../partials/header')%>

<div class="container mt-4" style="max-width: 700px;">

  <img src="<%= foundListing.image %>" class="img-fluid rounded mb-3" alt="Image of <%= foundListing.title %>">
  <p class="lead"><%= foundListing.description %></p>
  <p><strong>Price:</strong> <%= foundListing.price %> BHD</p>

    <p>Seller: <%= foundListing.seller %></p>
    <p><strong><%= foundListing.price %> BHD</strong></p>
    
     <div class="d-flex justify-content-between mb-4">
      <form action="/listings/<%= foundListing._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <a href="/listings/<%= foundListing._id %>/edit" class="btn btn-warning">Edit</a>
    </div>


<h3 class="text-center">Leave a Comment</h3>
        <form action="/listing/<%=foundListing._id %>/comments" method="POST"  class="mb-4">
            <textarea name="content" class="form-control" rows="3" required></textarea>
             </div>
            <button type="submit" class="btn btn-primary">Post Comment</button>
        </form>

  <h3 class="text-center">Comments</h3>
        <ul>
            <% foundListing.comments.forEach((comment)=> { %>
            <li class="list-group-item">
        <%= comment.content%> - <em><%= comment.author%> </em>       
            </li>
            <%             }) %>
        </ul>
        </div>

        <%- include('../partials/footer')%>